body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* custom css */
header {
    background-image: url('../src/assets/images/header.jpg');
    background-size: cover;
    background-position: center;
    text-align: center
}

h1 {
    font-family: 'Birthstone Bounce', cursive;
    font-size: 75px;
    color: white;
    text-shadow: 2px 2px black;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

.section-title {
    color: #A0C5ED;
    font-size: 55px;
    text-shadow: 2px 1px black;
}

nav {
    background-color: #D3C8E5;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav a {
    background-color: white;
    text-decoration: none;
    color: black;
    width: 40%;
    padding: 3px;
    margin: 5px;
}

nav a:hover {
    background-color:#A0C5ED
}

main {
    margin: 0px 30px 30px;
}

.portrait-img {
    text-align: center;
}

.portrait-img img {
    height: 200px;
}

.about-section p {
    text-align: justify;
}

.projects-section {
    text-align: center;
}

.project-container h3, .project-container p {
    margin: 5px;
}

.project-container {
    border: 2px solid gray;
    margin: 30px auto;
    width: 400px;
    padding: 0 0 5px 0;
}

.project-screenshot {
    width: 400px;
    border-bottom: 2px solid gray;
}

a {
    color: purple;
}

a:hover {
    color: darkblue;
}

.faded-text {
    opacity: 0.7;
}

.project-icon, .download-icon {
    width: 25px;
    opacity: 0.7;
}

.project-icon:hover, .download-icon:hover {
    opacity: 1.0
}

.resume-download {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

.resume-download p {
    margin: 1px 10px;
}

.download-icon {
    height: 25px;
}

.resume-section h3 {
    text-align: center;
}

.resume-section ul {
    margin: auto;
    width: 41%;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.contact-method img {
    width: 50px;
    opacity: 0.7;
}

.contact-method img:hover {
    opacity: 1.0;
}

.contact-method p {
    margin: 0 0;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #A0C5ED;
    font-size: 12px;
}

/* media queries */
@media only screen and (min-width: 890px) {
    nav {
        flex-wrap: nowrap;
    }

    .projects-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .resume-section ul {
        width: 21%;
    }
}